@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900");

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(20, 20, 20);
    color: rgb(238, 238, 238);
}

h1 {
    font-family: Montserrat;
    font-size: clamp(1rem, 16vmin, 3rem);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#trailer {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);

    pointer-events: none;

    position: fixed;
    z-index: 10000;

    /* Initial position */
    top: 0;
    left: 0;
    transform: translate(50vw, 50vh);

    /* Hide by default. Apply transition to opacity */
    opacity: 0;
    transition: opacity 500ms ease;

    mix-blend-mode: difference;
}

/* Touch-specific styles */
@media (hover: none) {
    #trailer {
        pointer-events: auto;
    }
}

/* when mouse enters the body set opacity of trailer to 1 */
body:hover > #trailer {
    opacity: 1;
}

#background {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0%;
    left: 0%;
    
    z-index: -1;
}
