@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500 hover:bg-blue-600;
  }

  html {
    scroll-behavior: smooth;
    block: "start";
    inline: "nearest";
  }

  .scroll {
    scroll-margin-top: 65px;
  }

  .parallax > div > p {
    @apply absolute z-[-1] text-blue-700 opacity-40 font-bold
  }
}
