@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500 hover:bg-blue-600;
  }

  html {
    scroll-behavior: smooth;
    block: "start";
    inline: "nearest";
  }
}
